<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
<title>小记者站-广元日报社</title>
<link rel="stylesheet" type="text/css" href="./css/pure.css">
<!--[if lte IE 8]>
  <link rel="stylesheet" href="./css/grids-responsive-old-ie.css">
<![endif]-->
<!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="./css/grids-responsive.css">
<!--<![endif]-->
<link rel="stylesheet" type="text/css" href="./css/news-css.css">
<link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">
<link rel="shortcut icon" href="./material/p1.ico" type="image/ico">
</head>
<body>
	<div class="pure-g" style="background: #26B26A;">
		<div class="pure-u-10-24">
			<div class="inner-box">
				<a href="./index.html"><img src="./material/logo.png"><i class="fa fa-pencil-square fa-2x" style="color: #DEDEDE"></i></a>
			</div>
		</div>
		<div class="pure-u-10-24">
			<div class="pure-menu pure-menu-open pure-menu-horizontal" id="horizontal-menu">
    			<ul id="std-menu-items">
	        			<li class=".menuItem"><a href="./left-behind.html">留守儿童</a></li>
	        			<li class=".menuItem"><a href="./news.html">新闻动态</a></li>
	        			<li class=".menuItem"><a href="./literature.html">文艺风采</a></li>
	        			<li class=".menuItem"><a href="./reporter.html">小记者站</a></li>
    			</ul>
			</div>
		</div>
		<!-- <div class="pure-u-4-24">
			<div class="innner-box">
				<button href="" class="pure-button pure-button-primary" id="modaltrigger">登录</button>
			</div>
		</div> -->
	</div>
	<div style="margin-bottom: 1em;">
		<div class="pure-g">
			<div class="pure-u-1">
				<h1>小记者课堂 <i class="fa fa-key"></i></h1>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-1-3 article-block">
				<a href="#">
				<div class="pure-g">
					<div class="pure-u-20-24">
						<h3><strong>写作是需要行走的</strong></h3>
					</div>
					<div class="pure-u-4-20">
						<img src="./sculpture/s1.png" class="sculpture">
					</div>
				</div>
				<div class="pure-g">
					<p>写作就是把自己在生活、学习、倾听、阅读、思考、顿悟中的“行走”故事讲述给别人听！</p>
					<h6>2014-4-14</h6>
				</div>
				</a>
			</div>
			<div class="pure-u-1-3 article-block">
				<a href="#">
				<div class="pure-g">
					<div class="pure-u-20-24">
						<h3><strong>新闻写作的特点</strong></h3>
					</div>
					<div class="pure-u-4-20">
						<img src="./sculpture/s1.png" class="sculpture">
					</div>
				</div>
				<div class="pure-g">
					<p> 新闻必须是事实的报道。没有事实，就没有新闻。因此可以说，新闻的最大特点是——用事实说话。</p>
					<h6>2014-4-14</h6>
				</div>
				</a>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-1-3 article-block">
				<a href="#">
				<div class="pure-g">
					<div class="pure-u-20-24">
						<h3><strong>怎样才能消息灵通呢？</strong></h3>
					</div>
					<div class="pure-u-4-20">
						<img src="./sculpture/s1.png" class="sculpture">
					</div>
				</div>
				<div class="pure-g">
					<p>第一，小记者应当养成读报和听广播的好习惯。报纸、电台、电视台等宣传工具，每天都向人民报告许多重要新闻，这些内容常常就是国内外大事。</p>
					<h6>2014-4-14</h6>
				</div>
				</a>
			</div>
			<div class="pure-u-1-3 article-block">
				<a href="#">
				<div class="pure-g">
					<div class="pure-u-20-24">
						<h3><strong>数码相机拍照技巧和要素</strong></h3>
					</div>
					<div class="pure-u-4-20">
						<img src="./sculpture/s1.png" class="sculpture">
					</div>
				</div>
				<div class="pure-g">
					<p>近今天跟各位介绍使用简单的数码相机，也是能够轻松拍出美美的照片的。其实要拍出美美的照片很简单，只要掌握以下三大要素，你的照片就不再是别人眼中平凡不起眼的生活照了。</p>
					<h6>2014-4-14</h6>
				</div>
				</a>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-1-3 article-block">
				<a href="#">
				<div class="pure-g">
					<div class="pure-u-20-24">
						<h3><strong>新闻采访的步骤</strong></h3>
					</div>
					<div class="pure-u-4-20">
						<img src="./sculpture/s1.png" class="sculpture">
					</div>
				</div>
				<div class="pure-g">
					<h6>2014-4-14</h6>
				</div>
				</a>
			</div>
			<div class="pure-u-1-3 article-block">
				<a href="#">
				<div class="pure-g">
					<div class="pure-u-20-24">
						<h3><strong>采访的基本任务</strong></h3>
					</div>
					<div class="pure-u-4-20">
						<img src="./sculpture/s1.png" class="sculpture">
					</div>
				</div>
				<div class="pure-g">
					<p>总之，快速就是采访的特点。尤其是在抢发动态新闻的过程中，记者始终是在实效的压力下采访。</p>
					<h6>2014-4-14</h6>
				</div>
				</a>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-1-3 article-block">
				<a href="#">
				<div class="pure-g">
					<div class="pure-u-20-24">
						<h3><strong>写作是需要行走的</strong></h3>
					</div>
					<div class="pure-u-4-20">
						<img src="./sculpture/s1.png" class="sculpture">
					</div>
				</div>
				<div class="pure-g">
					<p>写作就是把自己在生活、学习、倾听、阅读、思考、顿悟中的“行走”故事讲述给别人听！</p>
					<h6>2014-4-14</h6>
				</div>
				</a>
			</div>
			<div class="pure-u-1-3 article-block">
				<a href="#">
				<div class="pure-g">
					<div class="pure-u-20-24">
						<h3><strong>新闻写作的特点</strong></h3>
					</div>
					<div class="pure-u-4-20">
						<img src="./sculpture/s1.png" class="sculpture">
					</div>
				</div>
				<div class="pure-g">
					<p> 新闻必须是事实的报道。没有事实，就没有新闻。因此可以说，新闻的最大特点是——用事实说话。</p>
					<h6>2014-4-14</h6>
				</div>
				</a>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-13-24">
			</div>
			<div class="pure-u-11-24">
				<ul class="pure-paginator">
    					<li><a class="pure-button prev" href="#">&#171;</a></li>
					<li><a class="pure-button pure-button-active" href="#">1</a></li>
					<li><a class="pure-button" href="#">2</a></li>
					<li><a class="pure-button" href="#">3</a></li>
					<li><a class="pure-button" href="#">4</a></li>
					<li><a class="pure-button" href="#">5</a></li>
					<li><a class="pure-button next" href="#">&#187;</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="pure-g" style="background:#DEDEDE;">
		<div class="pure-u-1-3">
			<div class="chaining">
				<h3>友情链接</h3>
				<ul>
					<a href="http://e.gyxww.cn/gyrb/html/2014-10/27/node_1.htm"><li>广元日报社数字报刊</li></a>
					<a href="http://gywb.gyscw.com/"><li>广元晚报电子报</li></a>
					<a href="http://www.gyxww.cn/sjb/"><li>广元手机报</li></a>
					<a href="http://www.gyxww.cn/gyxjzw/"><li>广元小记者网</li></a>
				</ul>
			</div>
		</div>
		<div class="pure-u-1-3">
			<div style="margin-top: 1em;">
				<span class="bdsharebuttonbox">
					<a href="#" class="bds_more" data-cmd="more"></a>
					<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
					<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
					<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
					<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
					<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
				</span>
				<p>© copyright 广元日报社版权所有</p>
				<p>技术支持：IEC</p>
			</div>
		</div>
		<div class="pure-u-1-3">
			<div class="attention-me">
				<h3>欢迎关注广元日报</h3>
				<span>
					<a><i class="fa fa-weibo fa-3x fa-two-dimension-code"></i></a>
					<img src="./material/sinaweibo.jpg" id="two-dimension-code-weibo">
				</span>
				<span>
					<a><i class="fa fa-weixin fa-3x fa-two-dimension-code"></i></a>
					<img src="./material/wechat.jpg" id="two-dimension-code-wechat">
				</span>
			</div>
		</div>
	</div>
	<div id="loginmodal" style="display:none;">
	    	<h1>User Login</h1>
	    	<form id="loginform" name="loginform" method="post" action="index.html">
		      	<label for="username">Username:</label>
		      	<input type="text" name="username" id="username" class="txtfield" tabindex="1"><
		      	<label for="password">Password:</label>
		      	<input type="password" name="password" id="password" class="txtfield" tabindex="2">
		     	 <div class="center">
		     	 	<input type="submit" name="loginbtn" id="loginbtn" class="flatbtn-blu hidemodal" value="Log In" tabindex="3">
		     	 </div>
	   	 </form>
 	 </div>
</body>
<!-- <script src="./js/jQuery1.11.1.js"></script> -->
<script type="text/javascript" src="./js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="./js/stickUp.js"></script>
<script type="text/javascript" src="./js/jquery.leanModal.min.js"></script>
<script type="text/javascript" src="./js/jquery.bxslider.js"></script>
<script type="text/javascript">
//initiating jQuery
jQuery(function($) {
    $(document).ready( function() {
    //enabling stickUp on the '.navbar-wrapper' class
        $('#horizontal-menu').stickUp({
            parts: {
                0:'',
                1:'features',
                2: 'news',
                3: 'installation',
            },
            itemClass: '.menuItem',
            itemHover: 'active'
        });;
    });
});
</script>
<script type="text/javascript">
$(function(){
  $('#loginform').submit(function(e){
    return false;
  });
  $('#modaltrigger').leanModal({ top: 110, overlay: 0.7, closeButton: ".hidemodal" });
});
</script>
<script type="text/javascript">
        $(document).ready(function(){
          $('#painter-slider').bxSlider({
            slideWidth: 500, 
	auto: true,
  	autoControls: true,
            minSlides: 2,
            maxSlides: 3,
            slideMargin: 0
          });
        });
</script>
<script type="text/javascript" src="./js/jquery.goup.min.js"></script>
<script type="text/javascript">
        	$(document).ready(function () {
	            $.goup({
	                trigger: 50,
	                bottomOffset: 50,
	                locationOffset: 100,
	                title: '返回顶部',
	                titleAsText: true
	            });
        });
</script>
<script>
window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
</html>